<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPages</title>
    <link rel="stylesheet" href="/style/header.css">
</head>
<body>
<table class="header">
    <tr>
        <td><a th:href="@{/home}">Home</a></td>
        <td><a th:href="@{/reg}">Registration</a></td>
        <td><a th:href="@{/show}">Show information</a></td>
    </tr>
</table>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Languages</th>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.gender}"></td>
        <td>
            <ul>
                <li th:each="language : ${user.languages}" th:text="${language}"></li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>